<h1>portfolio's Items</h1>

<!-- <a href="portfolios/new" title="">Create New Item</a>
 -->

<%= link_to "Create New Item",new_portfolio_path %>	

<% @portfolio_items.each do |port| %>

<p> <%= link_to port.title,portfolio_show_path(port)%></p>
<p> <%= port.subtitle %></p>
<p> <%= port.body %></p>
<%= image_tag port.thumb_image unless port.thumb_image.nil? %>
	
<%= link_to "Create Edit Item",edit_portfolio_path(port) %>	
<%= link_to "Delete portfolio", portfolio_path(port), method: :delete, data: { confirm: 'Are uh sure??' } %>	

<% end %>